:root {
  --navbar-padding: 20px; 
}

.navbar {
    width: fit-content;
    margin:auto;
  }
  
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff; /* Change the color as needed */
    text-decoration: none;
}
  
  /* Customize the toggle button */
  .navbar-toggler {
    border: none; /* Remove the border */
  }
  
  /* Style the navbar links */
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    font-weight: bold;
    color: #007bff; /* Change the color as needed */
    text-decoration: none;
  }
  
  /* Add hover effect on navbar links */
  .nav-link:hover {
    color: #0056b3; /* Change the hover color as needed */
    text-decoration: underline;
  }
  .navbar-nav li {
    list-style-type: none;
  }


  @media (max-width: 768px) {
    :root {
      --navbar-padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .navbar-nav {
      flex-direction: column; /* Stack items vertically for smaller screens */
    }
  
    .nav-item {
      margin-right: 0; /* Remove margin for smaller screens */
      margin-bottom: 10px; /* Add some spacing between stacked items */
    }
  
    .navbar-toggler {
      display: block; /* Show the toggle button for smaller screens */
    }
  
    .navbar-collapse {
      display: none; /* Hide the nav links by default on smaller screens */
    }
  
    .navbar-toggler:hover + .navbar-collapse,
    .navbar-collapse:hover {
      display: block; /* Show the nav links when toggle button is hovered */
    }
  }
  