
.navbar {
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin-right: 15px;
}

.nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.dark-light-mode-button {
  margin-left: auto;
}
